*{
margin:0;
padding:0;
border:0;

}

.button_box{
width: 410px;

}

.button{
    width: 100px;
    height: 100px;
    float:left;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    box-sizing: border-box;
    margin-right:2px;
    margin-bottom: 2px;
    font-size:40px;
    color:black;
    /* background-image: url('button.png'); */
    font-weight: bolder;
    border-radius: 10px;
}
.display{
    width:410px;
    height:100px;
    padding:20px;
    box-sizing: border-box;
}
.clear{
    clear: both;
    width: 410px;
    height: 80px;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
}